.image-info-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    position: absolute;
}

.movie-info {
    background-color: rgb(32, 26, 26);
    width: 384px;
    border-radius: 8px;
    z-index: 2;
}

.movie-info h4 {
    margin: 0;
    margin-right: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem 0px 2rem;
    text-align: initial;
}

.info-year-age {
    display: flex;
    align-items: center;
}

.info-description {
    margin-top: 3px;
}

.info-year-age p {
    background-color: grey;
    font-weight: 700;
    font-size: 15px;
    padding: 2px 5px 2px 5px;
    border-radius: 7px;
}

.title-movie {
    font-size: 25px;
}

.info-year-age {
    margin: 10px 10px 10px 0px;
}