.top-slider-container {
    height: 650px;
    background-size: cover;
    background-image: url("https://images5.alphacoders.com/116/thumb-1920-1160553.png");
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            /* 90% opaque black at the leftmost position */
            rgba(0, 0, 0, 0.9) 40%,
            /* 70% opaque black at 40% distance from the left */
            rgba(0, 0, 0, 0.5) 60%,
            /* 60% opaque black at 60% distance from the left */
            rgba(0, 0, 0, 0.2) 100%
            /* 40% opaque black at the rightmost position */
        ),
        url("https://images5.alphacoders.com/116/thumb-1920-1160553.png");
    display: grid;
    grid-template-columns: 70px 1fr 2fr;
    grid-template-rows: 100px 1fr;
}

.slider-info-container {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 330px 125px;
}

.slider-info-container h3 {
    justify-self: flex-start;
}

.slider-info {
    padding-left: 1rem;
    color: white;
    display: grid;
    grid-template-rows: 75px 190px 60px;
}