.home__container {
    margin-top: 4rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

.slider-images-container {
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: white;
    padding-top: 2rem;
}

.slider-images-hover {
    display: flex;
}

.slider-images-container h3:first-child {
    font-size: 25px;
}